<html>

<head>
    <style>

    </style>
</head>

<body>
    <h4 style="color: #157A6E; font-weight: bolder">Hi {{name}},</h4>
    <p>Thank you for contacting Quiz Blog</p>

    <p>We will respond to you request, question or suggestion as soon as possible!</p>

    <p style="margin-bottom: 5px;">Regards!</p>

    <div style="margin-bottom: 10px;">
        <h5 style="color: #157A6E; font-weight: bolder; margin-bottom: 0;">Administrators @ Quiz Blog</h5>
        <h5 style="color: #050707; font-weight: bold; margin-bottom: 0">Kigali, Rwanda</h5>
        <h6 style="color: #1f3fcf; font-weight: bolder; margin-bottom: 0">
            <a href="https://www.linkedin.com/in/ndatimana-patrice-bruce-20b363195/">LinkedIn</a> |
            <a href="https://www.facebook.com/ndatimana.bruce">Facebook</a> |
            <a href="https://www.instagram.com/dr.active4/">Instagram</a> |
            <a href="http://www.quizblog.rw/">Website</a> | 0780579067
        </h6>
    </div>
</body>

</html>